---
const { name, description, tags, source_code_link, demo_link } = Astro.props
---

<li class="project-card">
    <h1 class="project-card__title">
        <span class="repo"><img src="/icons/repo.svg" alt="repo" /></span>
        <a href="#">{name}</a>
    </h1>

    <p class="project-card__description">{description}</p>

    <nav class="project-card__links">
        {demo_link && <a href={demo_link} target="_blank">Demo</a>}
        {source_code_link && <a href={source_code_link} target="_blank">Code</a>}
    </nav>

    <ul class="project-card__tags">
        {tags.map((tag) => (
             <li class="tag">
                <span class={`label ${tag}`}></span>
                <a>{tag}</a>
            </li>
        ))}
    </ul>
</li>

<style lang="scss">
    .project-card {
        border: 1.5px solid;
        border-color: var(--thin-border-color);
        border-radius: .3rem;
        padding: .5rem;

        transition: all .8s cubic-bezier(.4,0,.2,1);
        
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &:hover {
            border-color: var(--thin-border-hover);
        }

        .project-card__title {
            display: flex;
            align-items: center;
            margin-bottom: .4rem;

            a {
                font-size: 1.1rem;
                font-weight: 600;
                color: var(--primary);
                // color: #2dd4bf;
                color: rgb(12, 181, 181);
            }

            span {
                display: block;
                margin-right: .8rem;
                img {
                    display: block;
                    filter: invert(var(--ld-invert));
                }
            }
        }

        .project-card__description {
            font-size: 1rem;
            margin-bottom: .4rem;
        }

        .project-card__links {
            width: 100%;

            display: flex;
            justify-content: flex-end;
            align-items: center;

            margin-bottom: .4rem;
            a {
                display: block;
                margin-right: 0;
                padding: 0 .7rem;
                border: 3px solid transparent;

                font-size: .9rem;
                font-weight: 600;
                color: var(--primary);
                // color: #2dd4bf;
                color: rgb(12, 181, 181);
                &:last-child {
                    margin-right: 0;
                }
            }
        }

        .project-card__tags {
            display: flex;
            align-items: center;
            .tag {
                margin-right: .9rem;

                display: flex;
                align-items: center;
                span.label {
                    display: block;
                    width: .7rem;
                    height: .7rem;
                    border-radius: 50%;
                    margin-right: .60rem;
                    background-color: #531042;
                }
                a {
                    display: block;
                    font-size: .9rem;
                    font-weight: 600;
                    color: var(--title-text);
                }
            }
        }
    }
</style>