---
import { FolderGit2 } from "lucide-astro"

// utils
import { simplifyDate } from "@lib/index"

const { demo } = Astro.props
const { title, description, image, pubDate, tags, category, liveDemo } =
	demo.data
---

<li class="demo-card">
	<div class="meta">
		<FolderGit2 size={32} />

		<span class="category-label">{category}</span>

		<small class="pubDate">
			<time datetime={pubDate} aria-label={pubDate}
				>{simplifyDate(pubDate).simplifiedDate}</time
			>
		</small>
	</div>

	<h3 class="title">
		<a href={`/🧪/${demo.slug}`} aria-label={title}>{title}</a>
	</h3>

	<p>
		{description}
	</p>
</li>

<style lang="scss">
	.demo-card {
		padding: 1rem;
		border: 4px solid var(--border-color);
		box-shadow: 4px 4px 0 var(--selection-bg);

		display: grid;
		grid-gap: 12px;
		gap: 12px;

		margin-bottom: 1rem;
		overflow: hidden;

		filter: drop-shadow(10px 10px 0 va(--selection-bg));
		transition: all;
		transition-duration: 0s;
		transition-duration: 0.5s;
		animation: ease-in-out;

		.meta {
			display: flex;
			gap: 12px;
			align-items: center;
		}

		.category-label {
			border: 2px solid var(--border-color);
			font-size: 15px;
			font-size: 14;
			line-height: 1;
			padding: 2px 0.25rem;
			border-radius: 0;
			color: va(--title);
			max-width: -moz-fit-content;
			max-width: fit-content;
		}

		.title {
			a {
				font-weight: 700;
				line-height: 1.05;
				letter-spacing: 0.01em;
				text-decoration: underline;
				color: var(--title);
			}
		}

		p {
			max-width: 65ch;
			color: var(--text);
			font-size: 16px;
		}
	}
</style>
