---
import { Mail, KeySquare, Github, User } from "lucide-astro";
import InputBox from "../widgets/InputBox.astro";

type Props = {
  type: "Signup" | "Sign In";
};

const { type } = Astro.props;
---

<div class="auth-container">
  <form id="authForm" data-astro-reload>
    {
      type === "Signup" ? (
        <InputBox
          name="fullName"
          type="text"
          placeholder="Full name"
          Icon={User}
        />
      ) : (
        ""
      )
    }

    <InputBox name="email" type="email" placeholder="Work email" Icon={Mail} />

    <InputBox
      name="password"
      type="password"
      placeholder="Password"
      Icon={KeySquare}
    />

    <input type="hidden" name="formType" value={type} />

    <button class="auth-btn" type="submit" aria-label="Join us today"
      >{type}</button
    >

    <div class="separator-container">
      <hr />
      <p>or</p>
      <hr />
    </div>

    <button
      type="button"
      class="auth-btn github-btn"
      id="githubAuth"
      aria-label="Continue with github"
    >
      <Github />
      continue with github
    </button>

    <p class="auth-info">
      {
        type === "Signup" ? (
          <>
            Already a member ?<a href="/auth/login">Sign in here.</a>
          </>
        ) : (
          <>
            Don't have an account
            <a href="/auth/signup">Join as today</a>
          </>
        )
      }
    </p>
  </form>
</div>

<script src="../../scripts/auth.ts"></script>
