---
import "../../styles/post-card.scss"

import { Calendar, Clock4 } from "lucide-astro"

// utils
import { simplifyDate } from "../../utils"

const { title, description, pubDate, image, url } = Astro.props

const pubDate_ = simplifyDate(pubDate)
---

<li class="post-card">
	<a href={`/blog/${url}/`}>
		{
			image && (
				<div class="post-card__thumbnail-container">
					<img src={image} alt={title} />
				</div>
			)
		}

		<div class="post-card__body">
			<h2 class="title">{title}</h2>

			<p class="body-text">
				{description}
			</p>

			<div class="white-space"></div>

			<div class="meta">
				<div class="date">
					<Calendar class="shrink-0" size={14} aria-hidden />
					<time datetime={pubDate}>{pubDate_.simplifiedDate}</time>
				</div>

				<div class="read">
					<Clock4 class="shrink-0" size={14} aria-hidden />
					<span>5 Min Read</span>
				</div>
			</div>
		</div>
	</a>
</li>
