---
import { ArrowRight } from "lucide-astro";

const { t1, t2, url } = Astro.props;
---

<div class="head-title">
  <h2 class="section-sub-title">
    {t1}
    <span>{t2}</span>
  </h2>

  <div class="view-all">
    <a href={url} aria-label={`View all ${t2}`}>
      View {t2 === "Posts" ? `All` : `More`}
      {t2}
      <ArrowRight class="shrink-0" size={14} aria-hidden />
    </a>
  </div>
</div>

<style lang="scss">
  .head-title {
    h2 {
      margin-bottom: 0;
      span {
        color: transparent;
        background: var(--text-gradient);
        -webkit-background-clip: text;
        background-clip: text;
      }
    }

    .view-all {
      font-size: 0.875rem;
      line-height: 1.25rem;

      text-align: right;
      margin-bottom: 1rem;
      a {
        transition: all 0.2s ease-in;
        font-size: inherit;
        color: inherit;
        font-weight: 500;
        font-size: 1rem;

        display: inline-flex;
        align-items: center;
        gap: 0.25rem;

        &:hover {
          color: var(--primary);
        }
      }
    }
  }
</style>
