---
import "@styles/fonts.scss"
import "@styles/tags.scss"

// components
import Header from "@components/common/Header.astro"
import Newsletter from "@components/common/Newsletter.astro"
import Footer from "@components/common/Footer.astro"
import ScrollTop from "@components/common/ScrollTop.astro"
import ArtPlum from "@components/common/ArtPlum.astro"
import ChangeDir from "@components/common/ChangeDir.astro"

interface Props {
	title?: string
	description?: string
	ogImageUrl?: string
	pageUrl?: string
}

const { title, description, ogImageUrl, pageUrl } = Astro.props
---

<!doctype html>
<html lang="en">
	<head>
		<!-- Meta Tags -->
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta
			name="description"
			content={description
				? description
				: `Welcome to Mohammed's blog! Join me on a journey through the world of programming 
				and technology. Discover coding tips, tutorials, and insights for developers of 
				all levels. Stay updated with the latest trends and explore exciting projects. 
				Let's embark on this tech adventure together! 🚀`}
		/>
		<meta
			name="keywords"
			content="mohammed's blog, mohammedsh, mohammed shajahan, hello world, mhdzhhan, programming, linux, kde, tech, tips, tutorials, development, web development, app development, ai, ml"
		/>
		<meta name="author" content="Mohammed Shajahan" />
		<meta name="generator" content={Astro.generator} />

		<!-- Open Graph / Facebook, Twitter -->
		<meta property="og:type" content="website" />
		<meta name="og:site_name" content={Astro.site} />
		<meta name="og:image:width" content="1280" />
		<meta name="og:image:height" content="675" />
		{
			title && <meta property="og:title" content={title} /> && (
					<meta name="twitter:title" content={title} />
				) && <meta name="og:image:alt" content={title} />
		}

		{
			description && (
					<meta property="og:description" content={description} />
				) && <meta name="twitter:description" content={description} />
		}

		{pageUrl && <meta property="og:url" content={pageUrl} />}

		{
			ogImageUrl && <meta name="twitter:card" content={ogImageUrl} /> && (
					<meta name="twitter:image" content={ogImageUrl} />
				) && <meta property="og:image" content={ogImageUrl} />
		}

		<!-- Sitemap -->
		<link rel="sitemap" href="/sitemap-index.xml" />
		<!-- Canonical Link -->
		<link
			href={String(new URL(Astro.url.pathname, Astro.site)).replace(
				/\/+$/,
				""
			)}
			rel="canonical"
		/>
		<!-- Alternate Language -->
		<link rel="alternate" hreflang="en" href="https://www.mohammedsh.xyz" />
		<!-- Favicon -->
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<!-- javascript's -->
		<script src="@scripts/theme.js"></script>

		<title>{title ? title : `Mohammed's blog`}</title>
	</head>

	<body>
		<ArtPlum />
		<Header />

		<slot />

		{Astro.url.pathname !== "/" && <ChangeDir />}

		<Newsletter />
		<Footer />
		<ScrollTop />
	</body>
</html>

<style is:global lang="scss">
	@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap");

	:root {
		--primary: #df2250;
		--secondary: rgb(23 23 23 /1);
		--tertiary: rgb(0 0 0 / 1);

		--gradient-to: #f42547;
		--gradient-stops: #b51c61, var(--gradient-to, rgb(14 165 233 / 0));
		--text-gradient: linear-gradient(
			to bottom right,
			var(--gradient-stops)
		);

		--shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	}

	:root[data-theme="dark"] {
		--secondary: rgb(23 23 23 /1);
		--tertiary: rgb(0 0 0 / 1);
		--selection-bg: hsl(240, 12%, 25%, 0.75);

		--gray: rgb(155, 156, 157);
		--title: rgb(163 163 163 / 1);
		--text: rgb(115 115 115 / 1);

		--border-color: #262626;

		--sun_icon_visibility: block;
		--mon_icon_visibility: none;
		--dl-invert: 0;
	}

	:root[data-theme="cool"] {
		--secondary: #f7e6d5;
		--tertiary: hsl(35deg 100% 92%);
		--selection-bg: hsl(240, 14%, 80%, 0.75);

		--title: hsl(50deg 100% 0%);
		--text: hsl(30deg 11% 35%);
		--gray: rgb(0 0 0 / 1);

		--border-color: hsl(35deg 70% 75%);

		--sun_icon_visibility: none;
		--mon_icon_visibility: block;
		--dl-invert: 1;
	}

	*,
	*::before,
	*::after {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}

	html {
		scrollbar-gutter: stable;
		overflow-x: hidden;

		height: 100%;
	}

	::selection {
		background-color: var(--selection-bg);
	}

	body {
		color: var(--text);
		background-color: var(--tertiary);
		font-family: "Ubuntu", sans-serif;
		line-height: 1.6;

		height: 100%;
		&.overflow-hidden {
			overflow: hidden;
		}
	}

	input,
	textarea,
	button {
		font-family: inherit;
		font-feature-settings: inherit;
		font-variation-settings: inherit;
		font-size: 100%;
		font-weight: inherit;
		line-height: inherit;
		color: inherit;
		border: 0;
		outline: 0;
	}

	input:-webkit-autofill {
		background: var(--tertiary);
		color: inherit;
	}

	ul,
	ol {
		list-style: none;
	}

	a {
		text-decoration: none;
		color: var(--primary);
	}

	p {
		line-height: 1.7;
	}

	.wrapper {
		padding: 1.5rem 0.75rem;

		max-width: 1024px;
		margin: 0 auto;
	}

	.shrink-0 {
		flex-shrink: 0;
	}

	.hidden {
		display: none;
	}

	.hr-line {
		border: 1px solid var(--border-color);
	}

	.separator {
		border-radius: 0.25rem;
		flex: 1 1 0%;
		width: 100%;
		height: 1px;
		background-color: var(--secondary);
	}

	.section-title {
		font-weight: 700;
		font-size: 1.675rem;
		line-height: 2.25rem;
		color: var(--title);
		font-family: "8-bit_bold";
		span {
			background-clip: text;
			-webkit-background-clip: text;
			color: transparent;
			background: var(--text-gradient);
		}
	}

	.section-sub-title {
		font-weight: 700;
		font-size: 1.3rem;
		line-height: 2rem;
		margin-bottom: 1.5rem;
		color: var(--title);
		font-family: "8-bit_bold";
		span {
			background-clip: text;
			-webkit-background-clip: text;
			color: transparent;
			background: var(--text-gradient);
		}
	}
</style>
